:root{
    --col-text: aliceblue;
    --col-bg: rgba(72, 67, 67, 0.55);
    --col-bg-btn: #ffffd9;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;

    background: linear-gradient(75deg, rgb(73, 72, 72) 41%, rgb(140, 141, 141) 42%, rgb(73, 72, 72) 43%);
    /*background: linear-gradient(45deg, rgb(231, 242, 59) 30%, rgb(75, 119, 213) 50%, rgb(231, 242, 59) 70%);*/
    background-size: 500% 100%;

    animation: gradient 10s ease infinite;
    animation-delay: 5s;
}


/* ----------------------------- all files html ---------------------------------*/

.wrapper {
    width: 100%;
    min-height: calc(100vh - 50px);
    padding: 10px;

    display: flex;
}

.header {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
}

.header__title {
    margin: 10px auto;

    color: var(--col-text);
}

/* Button back */
.header__back-btn {
    margin: 10px;
    padding: 5px;

    text-decoration: none;

    color: var(--col-text);
    background-color: var(--col-bg);

    border: 1px solid grey;
    border-radius: 3px;

    box-shadow: 0 2px 4px grey;
}

.header__back-btn:hover {
    scale: 102%;
    box-shadow: 0 0 4px grey;
}

.header__back-btn:active {
    scale: 99%;
    box-shadow: 0 2px 3px grey;
}


/* ------------------- Index -------------------------- */

.wrapper-index {
    padding-top: 10px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    column-gap: 5%;
    row-gap: 15px;
}

.user {
    width: calc(70% / 2 - 30px);
    min-width: 270px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background-color: var(--col-bg);
    box-shadow: 0 2px 4px grey;

    border: 1px solid grey;
    border-radius: 3px;
}

.user:hover {
    margin-top: -1px;
    margin-bottom: 1px;

    box-shadow: 0 3px 4px grey;
}

.user-animation {
    margin-top: -700px;
    animation: appearance .8s ease-out;
    animation-fill-mode: forwards;
    animation-delay: .8s;
}

.anim-rotate {
    animation: rotate .7s;
}

.text {
    margin: 5px auto;

    font-size: 22px;
    text-align: center;
    font-style: italic;
    color: var(--col-text);
    text-shadow: 0 0 4px black;
}

/* Buttons on the index page */
.btn__details-user {
    margin: 5px;
    padding: 0 5px;

    text-decoration: none;

    background-color: var(--col-bg-btn);
    box-shadow: 0 2px 4px grey;

    border: 1px solid grey;
    border-radius: 3px;
}

.btn__details-user:hover {
    scale: 102%;
    box-shadow: 0 1px 4px grey;
}

.btn__details-user:active {
    scale: 99%;
    box-shadow: 0 2px 4px grey;
}


/* -------------------- User-details ------------------------- */

.wrapper-user {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
}

.details-user {
    min-width: 750px;
    min-height: 300px;

    display: flex;

    font-style: italic;
    font-weight: 600;

    color: var(--col-text);
    background-color: var(--col-bg);

    border: 1px solid grey;
    border-radius: 4px;

    box-shadow: 0 2px 8px grey;

    transition: .2s;
}

.details-user > div {
    padding: 0 15px;
    overflow: hidden;
}

.details-user > div:nth-child(-n+2) {
    border-right: 1px solid grey;
}

.details-user:hover {
scale: 101%;
}

.paragraph:hover {
    scale: 101%;
}

.titles-posts {
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 30px;
}

.posts-list {
    width: calc(100% / 2);
    max-width: 430px;
    min-width: 370px;
    padding: 8px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;

    list-style: none;
}

.lishka {
    padding: 5px 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: var(--col-text);
    background-color: var(--col-bg);
    box-shadow: 0 0 4px grey;

    border: 1px solid rgba(128, 128, 128, 0.45);
    border-radius: 3px;

    opacity: .5;
    transition: .2s;
}

.lishka:hover {
    margin-bottom: 2px;
    margin-top: -2px;

    box-shadow: 0 2px 4px grey;

    opacity: 1;
}

/* Buttons on the user-details page */
.btn-open-titles {
    width: 90%;
    max-width: 870px;
    margin: 20px auto;
    padding: 8px;

    cursor: pointer;

    text-align: center;

    color: var(--col-text);
    background-color: var(--col-bg);
    box-shadow: 0 2px 4px grey;

    border: 1px solid grey;
    border-radius: 3px;

    opacity: .7;

    transition: .2s;
}

.btn__open-titles:hover {
    scale: 101%;

    box-shadow: 0 0 4px grey;
    opacity: 1;
}

.btn__open-titles:active {
    scale: 99%;

    box-shadow: 0 2px 4px grey;
    opacity: 1;
}

.btn__details-post {
    margin: 4px;
    padding: 2px;

    font-size: 12px;
    text-decoration: none;
    color: black;

    background-color: var(--col-bg-btn);
    box-shadow: 0 2px 4px grey;
    
    border: 1px solid grey;
    border-radius: 3px;

    transition: .2s;
}

.btn__details-post:hover {
    scale: 120%;
    box-shadow: 0 0 4px grey;
}

.btn__details-post:active {
    scale: 100%;
    box-shadow: 0 2px 4px grey;
}





/* -------------------------- Post-details ------------------------------ */

.wrapper-post {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.details-post {
    width: 100%;
    max-width: 700px;
    min-height: 190px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    color: var(--col-text);
    background-color: var(--col-bg);
    box-shadow: 0 3px 4px grey;

    border: 1px solid grey;
    border-radius: 3px;
}

.details-post .inner {
    padding: 4px;
    margin: 3px;

    background-color: rgb(97, 90, 90);
    box-shadow: 0 2px 4px grey;

    border: 1px solid rgba(128, 128, 128, 0.36);
    border-radius: 3px;
}

.block-comments {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.comment {
    width: calc(100% / 4 - 20px);
    margin-top: 10px;
    padding: 4px;

    color: var(--col-text);
    background-color: var(--col-bg);
    box-shadow: 0 3px 4px grey;

    border: 1px solid grey;
    border-radius: 3px;

    transition: .3s;
}

.comment:hover {
    scale: 130%;

    background-color: var(--col-bg);
    box-shadow: 0 0 1px grey;
}

.comment .inner {
    margin: 3px;
    padding: 3px;

    overflow: hidden;

    background-color: var(--col-bg);
    box-shadow: 0 2px 2px grey;

    border: 1px solid rgba(128, 128, 128, 0.36);
    border-radius: 3px;
}

/* --------------------- media ----------------------- */
@media (max-width: 768px){

    /* User-details */

    .details-user {
        min-width: 400px;
        max-width: 550px;

        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .details-user > div:nth-child(2) {
        border: none;
    }

    .details-user > div:nth-child(3) {
        border-top: 1px solid grey;
    }

    .titles-posts {
        gap: 10px;
    }

    .posts-list {
        min-width: 200px;
    }

    /* Post-details */

    .block-comments {
        padding: 20px;
    }

    .comment {
        width: calc(100% / 2 - 10px);
    }
}

@media (max-width: 576px){

    /* User-details */

    .details-user > div:nth-child(1) {
        border-right: none;
    }

    .details-user > div:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        border-top: 1px solid grey;
    }

    .details-user > div:nth-child(2) > h3 {
        width: 100%;
    }

    .details-user > div:nth-child(3) {
        border-top: 1px solid grey;
    }

    .titles-posts {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .posts-list {
        width: 80%;
        min-width: 200px;
    }

    /* Post-details */

    .block-comments {
        justify-content: center;
    }

    .comment {
        width: 80%;
    }
}



/* ---------------- footer ----------------------*/
.foot {
    width: 100%;
    height: 50px;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--col-text);

    border-top: 1px solid grey;
}


/* ---------------- Animation ------------------ */

@keyframes rotate {
    0% {
        transform: rotatex(0deg);
    }
    25% {
        transform: rotatex(90deg);
    }
    50% {
        transform: rotatex(180deg);
    }
    75% {
        transform: rotatex(270deg);
    }
    100% {
        transform: rotatex(360deg);
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes appearance {
    0% {
        margin-top: -700px;
    }
    100% {
        margin-top: 0;
    }
    
}
